// Gutenberg color options
// -- see editor-color-palette in functions.php
$colors: (
	"deep-green": #00311e, // deep green
	"bright-pine": #56e13b, // bright pine
	"dusk": #fdc6c2, // dusk
	"twilight": #4527a0, // twilight
	"soft-yellow": #fffae1,
	"sky": #bff5fc,
	"sap": #ffd700,
	"moonshadow": #000000,
	"pure-white": #ffffff,
);

@each $name, $color in $colors {

	.has-#{$name}-color {
		color: $color;
	}

	.has-#{$name}-background-color {
		background-color: $color;
	}
}

// Gutenberg gradient options
// Twilight to dusk
.has-twilight-to-dusk-gradient-background {
    background: linear-gradient(to right, #C899B9 0%, 25%, #E4BAC5 50%, 75%, #F7D7D7 100%);
}

// Dusk to off-white
.has-dusk-to-off-white-gradient-background {
    background: linear-gradient(to right, #CAA5BA 0%, 36%, #F5DFDD 72%, 86%, #F1D6D5 100%);
}
