.swiper-slide {
    p {
       color: #00311E;
    }
    li {
        color: #00311E;
     }
}

@media only screen and ( min-width:1400px) {
    .services-swiper {
        padding-left: 0.5rem;
        padding-right: 17rem !important;
    }
}

@media only screen and ( max-width:768px) {
    .services-swiper {
        padding-left: 1rem !important;
        padding-right: 6rem !important;
    }
}