.section {
    &-title {
        &-white {
            color:#fff;
            font-size:18px;
            letter-spacing: 0.02em;
            margin-top:50px;
        }
        &-black {
            color:#000;
            font-size:18px;
            letter-spacing: 0.02em;
            margin-top:50px;
        }
    }
}
